body{font-family: 'Dosis', sans-serif;
     background:#eceff1;
    }
.historyBox{
    font-family: monospace;
    background:black;
    color:white;
    
}
.pass{
    color:green;
}

.info{
    color:blue;
}
.removeBtn{
    float:left;
}
.stepJsonList{
    width:50%;
}
.seperate{
    color:orange;

}
.actionsMenu {
    
    position: relative;
}

.fail{
    color:red;
}

.header{
    background:black;
    color:white
}
.des{
    color:red;
    font-weight: bold;
    
}
span.des{
    color:gray;
}
.stepInputs{
    width:30% !important;
    float:left !important;
    margin:5px !important;
}
.addBtn{
    background:#00C853;
}
.pe-menu {
    transition-timing-function: ease-out;
    transition-property: opacity;
    opacity: 0;
}
.pe-menu--visible {
    opacity: 1;
}
.menuDots{    position: relative;
	      top: 6px;}

.playBtncontainer {
  margin:2px;
}
.playBtncontainer:hover{
    color:#00C853;
    cursor:pointer;
    
}
.disabled{
 
    pointer-events: none;
}
.svg-icon {
  pointer-events: all;
}