body{font-family: 'Dosis', sans-serif;
     background:#eceff1;
    }
.historyBox{
    font-family: monospace;
    background:black;
    color:white;
    
}
.pass{
    color:green;
}

.info{
    color:blue;
}
.removeBtn{
    float:left;
}
.stepJsonList{
    width:50%;
}
.seperate{
    color:orange;

}

.fail{
    color:red;
}

.header{
    background:black;
    color:white
}
.des{
    color:red;
    font-weight: bold;
    
}
span.des{
    color:gray;
}
.stepInputs{
    width:30% !important;
    float:left !important;
    margin:5px !important;
}
.addBtn{
    background:#00C853;
}
.app {
    height: 100%;
    margin: 0;
    padding: 0;
}
.app {
    background: #fff;
}

.app .pe-header {
    height: 100px;
}

.app .pe-header-panel .pe-toolbar {
    background-color: #3f51b5;
}

.app .pe-header-panel .pe-title {
    font-size: 27.69px; // 18 / 0.65
}

.app .pe-header-panel-content {
    padding: 16px 16px 36px 16px;
    max-width: 700px;
    margin: 0 auto;
}